.linonetwo-simple-layout-launcher {
	display: flex;
	flex-direction: row;
	width: 100%;
	flex-wrap: wrap;
}
.linonetwo-simple-layout-launcher-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	height: 150px;
	aspect-ratio: 1;
	padding: 5px;
	margin: 5px;
}
.linonetwo-simple-layout-launcher-title {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 1.2em;
}
.linonetwo-simple-layout-launcher-icon {
	width: 70%;
	aspect-ratio: 1;
}
.linonetwo-simple-layout-launcher-icon svg {
	width: 100%;
	height: 100%;
}
.linonetwo-simple-layout-launcher-description {
	display: none;
}
.linonetwo-simple-layout-launcher-item:hover .linonetwo-simple-layout-launcher-description {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
}
.linonetwo-simple-layout-launcher-item a {
	text-decoration: none;
}